/UniversalRepository/bin/Debug/netstandard2.0/UniversalRepository.deps.json
/UniversalRepository/bin/Debug/netstandard2.0/UniversalRepository.dll
/UniversalRepository/bin/Debug/netstandard2.0/UniversalRepository.pdb
/UniversalRepository/obj/Debug/netstandard2.0/UniversalRepository.AssemblyInfo.cs
/UniversalRepository/obj/Debug/netstandard2.0/UniversalRepository.AssemblyInfoInputs.cache
/UniversalRepository/obj/Debug/netstandard2.0/UniversalRepository.csproj.CoreCompileInputs.cache
/UniversalRepository/obj/Debug/netstandard2.0/UniversalRepository.csproj.FileListAbsolute.txt
/UniversalRepository/obj/Debug/netstandard2.0/UniversalRepository.csprojAssemblyReference.cache
/UniversalRepository/obj/Debug/netstandard2.0/UniversalRepository.dll
/UniversalRepository/obj/Debug/netstandard2.0/UniversalRepository.pdb
/UniversalRepository/obj/UniversalRepository.csproj.nuget.cache
/UniversalRepository/obj/UniversalRepository.csproj.nuget.g.props
/UniversalRepository/obj/UniversalRepository.csproj.nuget.g.targets
/UniversalRepository/obj/project.assets.json
/.vs/UniversalRepository/DesignTimeBuild/.dtbcache
/.vs/UniversalRepository/v15/.suo
/.vs/UniversalRepository/v15/Server/sqlite3/storage.ide
/.vs/UniversalRepository/v15/Server/sqlite3/storage.ide-shm
/.vs/UniversalRepository/v15/Server/sqlite3/storage.ide-wal
